<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!-- Do not change -->
  <configSections>
    <section name="hitSettings" type="HIT.REST.Client.config.HitSettingsSection, HIT.REST.Client" />
  </configSections>
  <!-- Do not change until here -->

  <!-- Do your changes here in the hitSettings container -->
  <!-- For more documentation see https://www.hi-tier.de/HitTest3/swagger -->
  <hitSettings>
    <LogFile path="HIT.REST.Client.log" append="true" />
    <BaseUrls>
      <add https="false" domain="localhost" port="5592" />
      <add https="false" domain="www-dev.hi-tier.bybn.de" path="HitTest3" />
      <add https="true" domain="www.hi-tier.bybn.de" path="HitTest3" />
    </BaseUrls>
    <BasePath path="/api/hit/" />
    <CertificateWarning ignore="true" />
  </hitSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>