<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Do not change -->
  <configSections>
    <section name="hitSettings" type="HIT.REST.Client.config.HitSettingsSection, HIT.REST.Client" />
  </configSections>
  <!-- Do not change until here -->

  <!-- Do your changes here in the hitSettings container -->
  <!-- For more documentation see https://www.hi-tier.de/HitTest3/swagger -->
  <hitSettings>
    <BaseUrls>
      <add https="false" domain="localhost" port="5592" />
      <add https="true" domain="www.hi-tier.bybn.de" />
      <add https="false" domain="www-dev.hi-tier.bybn.de" />
    </BaseUrls>
    <BasePath path="/api/mlrp/" />
    <CertificateWarning ignore="true" />
  </hitSettings>
</configuration>