<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!-- Do not change-->
  <configSections>
    <section name="hitSettings" type="HIT.REST.Client.HitSettingsSection, HIT.REST.Client" />
  </configSections>
  <!-- Do not change end-->

  <!-- Make your changes here-->
  <!-- For more documentation https://www.hi-tier.bybn.de/HitTest3/swagger -->
  <hitSettings>
    <ApiInformation>
      <Prefix>/api/mlrp</Prefix>
      <BaseUrls>
        <string>https://www.hi-tier.bybn.de/</string>
        <string>https://www-dev.hi-tier.bybn.de/</string>
        <string>http://localhost:5592/</string>
      </BaseUrls>
      <SuppressCertificateWarning>false</SuppressCertificateWarning>
    </ApiInformation>
  </hitSettings>
</configuration>